@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Proza+Libre&display=swap');

main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    /* border: 1px solid #000000; */
    color: #3a3a3a;
}

body {
    font-family: 'Proza Libre', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}
 h1, h2, h3, h4 {
    font-family: 'Cormorant SC', serif;
    font-weight: 500;
    color: #3a3a3a;
 }

 hr {
    color: #3a3a3a;
 }
/* navigation bar */


#menu {
    font-size: 110%;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
    text-transform: uppercase;
    line-height: 1.5em;
    display: inline-flex;
    justify-content: flex-end;
}

#menu li {
    
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.header > ul li:not(:last-child):after {
    content: "|";
    padding-left: .1em;
    }
    
    .active {
        border-bottom: 1px solid #3a3a3a;
    }
    
.header > ul {
    padding-inline-start: 10px;
}    
    /* hero image */
.hero {
    background: url(../images/dunes1.jpeg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 30em;
    height: 60%;

}

.sidebar {
    border: 1px solid #000000;
    text-align: center;
}

.footer {
    border: 1px solid #000000;
    background: #616161;
}

iframe {
    width: 100%;
}