@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&family=Proza+Libre&display=swap');

main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    border: 1px solid #000000;
    color: #ffffff;
}

body {
    font-family: 'Proza Libre', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}
 h1, h2, h3, h4 {
    font-family: 'Cormorant SC', serif;
    font-weight: 500;
    color: #3a3a3a;
 }
main {
    background: #000000;
}

.header {
    background: #03a9f4;
}

.hero {
    background: url(../images/dunes1.jpeg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 30em;
    height: 60%;

}

.about-us {
    background: #129a22;
}

.sidebar {
    border: 1px solid #000000;
    background: #673ab7;
    text-align: center;
}

.footer {
    border: 1px solid #000000;
    background: #616161;
}

iframe {
    width: 100%;
}